@import "tailwindcss";

:root {
  --accent: #fff;
  --accent-secondary: #fff;
}

@theme {
  --color-accent: var(--accent);
  --color-accent-secondary: var(--accent-secondary);
}

@layer base {
  @font-face {
    font-family: 'Geist';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('/Geist[wght].woff2') format('woff2');
  }
  body {
    font-family: 'Geist', sans-serif;
  }
}