---
---

<template id="card-template">
	<li class="group flex flex-col overflow-hidden border-2 border-accent">
		<figure class="flex flex-1 flex-col">
			<div
				data-svg
				class="flex aspect-square items-center justify-center p-1 [&_svg]:h-full [&_svg]:w-full"
			></div>
			<figcaption
				data-name
				class="p-2 text-xs border-t border-accent truncate font-mono"
			></figcaption>
		</figure>
	</li>
</template>
